@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/animacao.css";

@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";

/* Home */
@import "./global/home/introducao.css";
@import "./global/home/sustentabilidade.css";
@import "./global/home/parceiros.css";
@import "./global/home/depoimento.css";

/* Mochilas */
@import "./mochilas/mochilas-lista.css";
@import "./mochilas/mochilas.css";

/* Mochila */
@import "./mochila/mochila.css";
@import "./mochila/reciclagem.css";	

/* Sustentabilidade */
@import "./sustentabilidade/sustentabilidade.css";
@import "./sustentabilidade/vantagens.css";
@import "./sustentabilidade/perguntas.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";

/* Termos */
@import "./termos/termos.css";
